<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CQ" value="4"/>
    <add key="DS" value="5"/>
    <add key="JS" value="6"/>
    <add key="GS" value="7"/>
    <add key="QS" value="8"/>
    
    <add key="NQ" value="9"/>
    <add key="ND" value="10"/>
    <add key="NG" value="11"/>
    
    <add key="TJQ" value="12"/>
    <add key="TJJ" value="13"/>
    
    <add key="DL" value="14"/>
    
    <add key="ML" value="15"/>
    <add key="DS1" value="16"/>
    <add key="JS1" value="17"/>
    <add key="GS1" value="18"/>
    <add key="QS1" value="19"/>
    <add key="PD" value="20"/>
    <add key="AF" value="21"/>
    <add key="ATO" value="22"/>
    <add key="EI" value="23"/>
    <add key="TJQ1" value="24"/>
    <add key="TJJ1" value="25"/>

    <add key="" value=""/>
    <add key="FEMENIL" value="27"/>
    <add key="VARONIL" value="28"/>
    <add key="DEPOSITO" value="29"/>
  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>